@charset "UTF-8";
body {
			position: relative;
			/*background-color: rgb(64, 12, 65);*/
			width: 100vw;
			height: 100vh;
			background-image : url("../img/LoginBackground.png");
		}
		.sign_up_box {
			position: absolute; 
			height: 693px;           /* 756px */
			width: 483px;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			background-color: rgb(83, 36, 86);
			border-radius:8px;
		}
		.sign_up {
			position:relative;
			height: 80px;
			width: 483px;
			
		}
		.sign_up > span:nth-child(1){
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50% );
			color: white;
			font-size: 27px;
		}
		.email {
			min-height: 85px;
			width: 483px;
		}
		.email > span:nth-child(1) {
			font-size: 15px;
			color: white;
			margin-left:30px;
			}
		.email > span:nth-child(2) {
			color:rgb(241, 141, 136);
		}
		.email > .email_bar {
			height:49px;
			width:426px;
			background-color: rgb(225, 7, 226);
			border-radius:8px;
			margin-top:10px;
		 	margin-left:30px;
		}
		.email > .email_bar.pink{
			border: 3px solid rgb(253, 146, 141);
		}
		.email_bar > input:nth-child(1) {
			line-height:45px;
			border:none;
			outline:none;
			margin-left:10px;
			width:90%;
			background-color:transparent;
			font-size:15px;
			color:white;
		}
		.email> div:nth-child(3):has(input:nth-child(1):focus) {
			border: 2px solid #5D7BA4;
		}
		.email_bar:HAS(input:focus){
			border: 1px solid rgb(227, 25, 204);
		}
		.email span:last-child {
			position: relative;
			margin-left:26px;
		}
		.email span:last-child > img:nth-child(1) { /* "!" 크기 및 글자조정 */
			width: 14px;
			position: absolute;
			top: 5px;
			left: 3px;
		}
		.email span:last-child > span:nth-child(2) { /* 필수요건 크기 및 글자조정 */
			font-size:13px;
			font-weight:500;
			top:-3px;
			left:-5px;
		}
		.nickname {
			min-height: 85px;
			width: 483px;
		}
		.nickname > span:nth-child(1) {
			font-size: 15px;
			color: white;
			margin-left:30px;
			}
		.nickname > div:nth-child(2) {
			height:49px;
			width:426px;
			background-color: rgb(225, 7, 226);
			border-radius:8px;
			margin-top:10px;
			margin-left:30px;
		}
		.nickname> div:nth-child(2) > input:nth-child(1) {
			line-height:45px;
			border:none;
			outline:none;
			margin-left:10px;
		 	width:90%;
			background-color:transparent;
			font-size:15px;
			color:white;
		}
		.nickname > .nickname_bar.pink{
			border: 3px solid rgb(253, 146, 141);
		}
		.nickname > .nickname_bar.pink + span.pink {
			display:block !important;
		}
		.nickname_bar > input:nth-child(1) {
			line-height:45px;
			border:none;
			outline:none;
			margin-left:10px;
			width:90%;
			background-color:transparent;
			font-size:15px;
			color:white;
		}
		.nickname> div:nth-child(2):has(input:nth-child(1):focus) {
			border: 2px solid #ABADB1;
		}
		.nickname_bar:HAS(input:focus){
			border: 1px solid rgb(227, 25, 204);
		}
		.nickname > span:last-child{
			margin-left:29px;
		}
		.nickname > span:last-child > span:first-child {
			font-size:13px;
			color:white;
		}
		.username {
			min-height: 85px;
			width: 483px;
		}
		.username > span:nth-child(1) {
			font-size: 15px;
			color: white;
			margin-left:30px;
			}
		.username > span:nth-child(2) {
			color:rgb(241, 141, 136);
		}
		.username> div:nth-child(2) > input:nth-child(1) {
			line-height:45px;
			border:none;
			outline:none;
			margin-left:10px;
		 	width:90%;
			background-color:transparent;
			font-size:15px;
			color:white;
		}
		.username > .username_bar.pink{
			border: 3px solid rgb(253, 146, 141);
		}
		.username > .username_bar.pink + span.pink {
			display:block !important;
		}
		.username_bar > input:nth-child(1) {
			line-height:45px;
			border:none;
			outline:none;
			margin-left:10px;
			width:90%;
			background-color:transparent;
			font-size:15px;
			color:white;
		}
		.username> div:nth-child(2):has(input:nth-child(1):focus) {
			border: 2px solid #ABADB1;
		}
		.username > div:nth-child(3) {
			height:49px;
			width:426px;
			background-color: rgb(225, 7, 226);
			border-radius:8px;
			margin-top:10px;
			margin-left:30px;
		}
		.username_bar > input:nth-child(1) {
			line-height:45px;
			border:none;
			outline:none;
			margin-left:10px;
			 width:90%;
			 background-color:transparent;
			 font-size:15px;
			 color:white;
		}
		
		.username_bar:HAS(input:focus){
			border: 1px solid rgb(227, 25, 204);
		}
		.username > span:last-child{
			margin-left:29px;
		}
		.username > span:last-child > span:first-child {
			font-size:13px;
			color:white;
		}
		.password {
			min-height: 85px;
			width: 483px;
		}
		.password > span:nth-child(1) {
			font-size: 15px;
			color: white;
			margin-left:30px;
		}
		.password > span:nth-child(2) {
			color:rgb(241, 141, 136);
		}
		
		.password > div:nth-child(3) {
			height:49px;
			width:426px;
			background-color: rgb(225, 7, 226);
			border-radius:8px;
			margin-top:10px;
			margin-left:30px;
		}
		.password_bar > input:nth-child(1) {
		 	line-height:45px;
			border:none;
			outline:none;
			margin-left:10px;
			width:90%;
			background-color:transparent;
			font-size:15px;
			color:white;
		}
		.password > .password_bar {
			height:49px;
			width:426px;
			background-color: rgb(225, 7, 226);
			border-radius:8px;
			margin-top:10px;
		 	margin-left:30px;
		}
		.password > .password_bar.pink{
			border: 3px solid rgb(253, 146, 141);
		}
		.password_bar:HAS(input:focus){
			border: 1px solid rgb(227, 25, 204);
		}
		.password span:last-child {
			position: relative;
			margin-left:26px;
		}
		.password span:last-child > img:nth-child(1) { /* "!" 크기 및 글자조정 */
			width: 14px;
			position: absolute;
			top: 5px;
			left: 3px;
		}
		.password span:last-child > span:nth-child(2) { /* 필수요건 크기 및 글자조정 */
			font-size:13px;
			font-weight:500;
			top:-3px;
			left:-5px;
		}
		.date {
			height: 85px;
			width: 483px;
		}
		.date > span:nth-child(1) {
			font-size: 15px;
			color: white;
			margin-left:30px;
			}
		.date > span:nth-child(2) {
			color:rgb(241, 141, 136);
		}
		.date > .date_bar {
			position: relative;
			height: 50px;
			width: 455px; /*428px;*/
			margin-left: 15px; /*30px;*/
		}
		.date > div:nth-child(3) > select:first-child{
			line-height:50px;
			margin-left:30px;
		}
		.creat_sign_up {
			height: 46px;
			width: 483px;
		}
		.creat_sign_up1 {
			position:relative;
			height:53px;
			width:426px;
			background-color: rgb(225, 7, 226);
			margin-left:30px;
			border-radius:8px;
			cursor: pointer;
			margin-top: 10px;
		}
		.creat_sign_up > div:nth-child(1) >  span:nth-child(1){
			position:absolute;
			left:50%;
			top:50%;
			transform: translate(-50%,-50%);
			line-height:53px;
			color:white;
		}
		.users {
			height: 46px;
   		 	width: 483px;
   		 	cursor: pointer;
		}
		#link_login{
			font-size:15px;
			color:rgb(147, 167, 253);
			line-height:46px;
			margin-left:30px;
		}
		select {
			/* width:20%; */
			/* height:10%; */
			height: 45px;
			border: 1px solid rgb(253, 146, 141);
			border-radius: 7px;
			background-color: rgb(225, 7, 226);
			color: black;
			position: relative;
			padding: 0 10px;
			appearance: none;
		}
		.date_bar {
		    display: flex;
		    justify-content: center;
		    gap: 12px;
		}
		.date_bar > div {
			position: relative;
		}
		.date_bar > div::after {   /* [고급] */
			content: '';
			position: absolute;
			top: 13px;
			right: 8px;
			background: url("../img/select_v.png") center / 100%;
			width: 16px;
			height: 16px;
		}
		.date_bar > div > select { font-size: 16px; }
		select:nth-child(1), select:nth-child(3) { width: 133px; }
		select:nth-child(2) { width: 144px; }
		
		.pink { color:rgb(253, 146 ,141);}
		*, :focus {box-sizing:border-box; }
		.border { border: 1px solid red;}
		.fl { float: left; }
		.fr { float: right; }